In [1]:
import pandas as pd

# Results

Notebook with the purpose to process and inspecty raw output from the Dike model

## First impression

To get a first impression, I exported results with default settings, problem definition 5 and in a quite exhausting data format with seperate .csv files for each experiment

In [2]:
data = '../data/experiments/'

There are `53` levers. 
Certain levers are disaggregated by location `(1 through 5)` and/or by planning phase `(0, 1, 2)`

In [13]:
experiments = pd.read_csv(data+'5_experiments.csv', index_col=0)
experiments.columns

Index(['discount rate 0', 'discount rate 1', 'discount rate 2',
       'A.0_ID flood wave shape', 'A.1_Bmax', 'A.1_pfail', 'A.1_Brate',
       'A.2_Bmax', 'A.2_pfail', 'A.2_Brate', 'A.3_Bmax', 'A.3_pfail',
       'A.3_Brate', 'A.4_Bmax', 'A.4_pfail', 'A.4_Brate', 'A.5_Bmax',
       'A.5_pfail', 'A.5_Brate', '0_RfR 0', '0_RfR 1', '0_RfR 2', '1_RfR 0',
       '1_RfR 1', '1_RfR 2', '2_RfR 0', '2_RfR 1', '2_RfR 2', '3_RfR 0',
       '3_RfR 1', '3_RfR 2', '4_RfR 0', '4_RfR 1', '4_RfR 2',
       'A.1_DikeIncrease 0', 'A.1_DikeIncrease 1', 'A.1_DikeIncrease 2',
       'A.2_DikeIncrease 0', 'A.2_DikeIncrease 1', 'A.2_DikeIncrease 2',
       'A.3_DikeIncrease 0', 'A.3_DikeIncrease 1', 'A.3_DikeIncrease 2',
       'A.4_DikeIncrease 0', 'A.4_DikeIncrease 1', 'A.4_DikeIncrease 2',
       'A.5_DikeIncrease 0', 'A.5_DikeIncrease 1', 'A.5_DikeIncrease 2',
       'EWS_DaysToThreat', 'scenario', 'policy', 'model'],
      dtype='object')

The rows are the experiments

In [14]:
experiments['2_RfR 1']

0    0
1    0
2    1
3    0
4    1
Name: 2_RfR 1, dtype: int64

Results of each experiment are shown per planning phase (so three entries)\

In [15]:
outcome_0 = pd.read_csv(data+'5_outcome_0.csv', index_col=0)
outcome_0

,A.1_Expected Annual Damage,A.1_Dike Investment Costs,A.1_Expected Number of Deaths,A.2_Expected Annual Damage,A.2_Dike Investment Costs,A.2_Expected Number of Deaths,A.3_Expected Annual Damage,A.3_Dike Investment Costs,A.3_Expected Number of Deaths,A.4_Expected Annual Damage,A.4_Dike Investment Costs,A.4_Expected Number of Deaths,A.5_Expected Annual Damage,A.5_Dike Investment Costs,A.5_Expected Number of Deaths,RfR Total Costs,Expected Evacuation Costs
0,0.0,0.000000e+00,0.0,5.353765e+06,3.824512e+07,0.000757,0.0,3.422156e+07,0.0,0.0,6.320800e+06,0.0,0.0,4.419351e+07,0.0,377300000.0,353.343108
1,0.0,8.526436e+07,0.0,0.000000e+00,5.518188e+07,0.000000,0.0,2.804588e+07,0.0,0.0,1.665937e+07,0.0,0.0,3.167613e+07,0.0,423600000.0,0.000000
2,0.0,1.286900e+08,0.0,0.000000e+00,5.659488e+07,0.000000,0.0,4.630528e+07,0.0,0.0,0.000000e+00,0.0,0.0,5.269381e+07,0.0,461900000.0,0.000000

# Problem definition 3

In [9]:
experiments = pd.read_csv(data+'3_experiments.csv', index_col=0)
experiments['2_RfR 1']

0    0
1    0
2    1
3    1
4    1
Name: 2_RfR 1, dtype: int64

In [12]:
outcome_0 = pd.read_csv(data+'3_outcomes.csv', index_col=0)
outcome_0

,A.1 Total Costs,A.1_Expected Number of Deaths,A.2 Total Costs,A.2_Expected Number of Deaths,A.3 Total Costs,A.3_Expected Number of Deaths,A.4 Total Costs,A.4_Expected Number of Deaths,A.5 Total Costs,A.5_Expected Number of Deaths,RfR Total Costs,Expected Evacuation Costs
experiment,,,,,,,,,,,,
0,1.275684e+08,0.0,2.608158e+08,0.0000,8.309484e+07,0.000000,2.031906e+07,0.0,1.563396e+08,0.000000,9.530000e+08,0.000000
1,2.430267e+08,0.0,3.418897e+08,0.0000,1.053288e+08,0.000000,4.451760e+07,0.0,1.700764e+08,0.000000,1.411100e+09,0.000000
2,2.819751e+08,0.0,1.958818e+08,0.0000,1.326068e+08,0.000000,7.613937e+07,0.0,1.073312e+08,0.007279,3.331000e+08,2687.761992
3,2.530927e+08,0.0,9.975777e+07,0.0074,8.389974e+07,0.026526,4.801031e+07,0.0,1.296050e+08,0.000000,1.103300e+09,0.000000
4,6.813900e+07,0.0,2.119675e+08,0.0000,5.934443e+07,0.000000,3.124226e+07,0.0,1.691411e+08,0.000000,1.592300e+09,0.000000

# Problem definition 4

In [16]:
experiments = pd.read_csv(data+'4_experiments.csv', index_col=0)
experiments.columns

Index(['discount rate 0', 'discount rate 1', 'discount rate 2',
       'A.0_ID flood wave shape', 'A.1_Bmax', 'A.1_pfail', 'A.1_Brate',
       'A.2_Bmax', 'A.2_pfail', 'A.2_Brate', 'A.3_Bmax', 'A.3_pfail',
       'A.3_Brate', 'A.4_Bmax', 'A.4_pfail', 'A.4_Brate', 'A.5_Bmax',
       'A.5_pfail', 'A.5_Brate', '0_RfR 0', '0_RfR 1', '0_RfR 2', '1_RfR 0',
       '1_RfR 1', '1_RfR 2', '2_RfR 0', '2_RfR 1', '2_RfR 2', '3_RfR 0',
       '3_RfR 1', '3_RfR 2', '4_RfR 0', '4_RfR 1', '4_RfR 2',
       'A.1_DikeIncrease 0', 'A.1_DikeIncrease 1', 'A.1_DikeIncrease 2',
       'A.2_DikeIncrease 0', 'A.2_DikeIncrease 1', 'A.2_DikeIncrease 2',
       'A.3_DikeIncrease 0', 'A.3_DikeIncrease 1', 'A.3_DikeIncrease 2',
       'A.4_DikeIncrease 0', 'A.4_DikeIncrease 1', 'A.4_DikeIncrease 2',
       'A.5_DikeIncrease 0', 'A.5_DikeIncrease 1', 'A.5_DikeIncrease 2',
       'EWS_DaysToThreat', 'scenario', 'policy', 'model'],
      dtype='object')

In [17]:
outcome_0 = pd.read_csv(data+'4_outcome_0.csv', index_col=0)
outcome_0

,Expected Annual Damage,Dike Investment Costs,Expected Number of Deaths,RfR Total Costs,Expected Evacuation Costs
0,1.110816e+07,1.530022e+08,0.004611,461900000.0,357.777581
1,0.000000e+00,2.601263e+08,0.000000,30700000.0,0.000000
2,0.000000e+00,2.899111e+08,0.000000,256100000.0,0.000000