In [2]:
import pandas as pd

# Results

Notebook with the purpose to process and inspecty raw output from the Dike model

## First impression

To get a first impression, I exported results with default settings, problem definition 5 and in a quite exhausting data format with seperate .csv files for each experiment

In [3]:
data = '../data/experiments/'

There are `53` levers. 
Certain levers are disaggregated by location `(1 through 5)` and/or by planning phase `(0, 1, 2)`

In [5]:
experiments = pd.read_csv(data+'experiments.csv', index_col=0)
experiments.columns

Index(['discount rate 0', 'discount rate 1', 'discount rate 2',
       'A.0_ID flood wave shape', 'A.1_Bmax', 'A.1_pfail', 'A.1_Brate',
       'A.2_Bmax', 'A.2_pfail', 'A.2_Brate', 'A.3_Bmax', 'A.3_pfail',
       'A.3_Brate', 'A.4_Bmax', 'A.4_pfail', 'A.4_Brate', 'A.5_Bmax',
       'A.5_pfail', 'A.5_Brate', '0_RfR 0', '0_RfR 1', '0_RfR 2', '1_RfR 0',
       '1_RfR 1', '1_RfR 2', '2_RfR 0', '2_RfR 1', '2_RfR 2', '3_RfR 0',
       '3_RfR 1', '3_RfR 2', '4_RfR 0', '4_RfR 1', '4_RfR 2',
       'A.1_DikeIncrease 0', 'A.1_DikeIncrease 1', 'A.1_DikeIncrease 2',
       'A.2_DikeIncrease 0', 'A.2_DikeIncrease 1', 'A.2_DikeIncrease 2',
       'A.3_DikeIncrease 0', 'A.3_DikeIncrease 1', 'A.3_DikeIncrease 2',
       'A.4_DikeIncrease 0', 'A.4_DikeIncrease 1', 'A.4_DikeIncrease 2',
       'A.5_DikeIncrease 0', 'A.5_DikeIncrease 1', 'A.5_DikeIncrease 2',
       'EWS_DaysToThreat', 'scenario', 'policy', 'model'],
      dtype='object')

The rows are the experiments

In [18]:
experiments['2_RfR 1']

0    1
1    0
2    1
3    1
4    0
Name: 2_RfR 1, dtype: int64

Results of each experiment are shown per planning phase (so three entries)\

In [14]:
outcome_0 = pd.read_csv(data+'outcome_0.csv', index_col=0)
outcome_0

,A.1_Expected Annual Damage,A.1_Dike Investment Costs,A.1_Expected Number of Deaths,A.2_Expected Annual Damage,A.2_Dike Investment Costs,A.2_Expected Number of Deaths,A.3_Expected Annual Damage,A.3_Dike Investment Costs,A.3_Expected Number of Deaths,A.4_Expected Annual Damage,A.4_Dike Investment Costs,A.4_Expected Number of Deaths,A.5_Expected Annual Damage,A.5_Dike Investment Costs,A.5_Expected Number of Deaths,RfR Total Costs,Expected Evacuation Costs
0,0.0,4.229151e+07,0.0,0.0,8.999201e+07,0.0,0.0,2.419803e+07,0.0,0.0,1.426165e+07,0.0,0.0,5.311400e+07,0.0,339000000.0,0.0
1,0.0,0.000000e+00,0.0,0.0,5.793770e+07,0.0,0.0,2.245214e+07,0.0,0.0,9.276268e+06,0.0,0.0,3.731617e+07,0.0,236500000.0,0.0
2,0.0,4.677675e+07,0.0,0.0,6.196491e+07,0.0,0.0,0.000000e+00,0.0,0.0,2.758210e+07,0.0,0.0,8.419063e+07,0.0,558500000.0,0.0